# See http://help.github.com/ignore-files/ for more about ignoring files.


# IDEs and editors
/.idea
.project
*.launch
.settings/
*.sublime-workspace
.venv
workspace.code-workspace
__pycache__/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# pyton module files
src/build/
src/*.egg-info/
src/dc_test_exec/_trial_temp/

dist/
build/